@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

body {
  background-color: rgba(225, 225, 220, 0.5);
}

h1 {
  padding: 1em;
  font-size: 3em;
  font-family: "SpoqaHanSans", sans-serif;
  font-weight: 600;
}

p {
  margin-left: 3em;
  font-family: "SpoqaHanSans", sans-serif;
}

.image_width_01 {
  width: 800px;
  height: auto;
}
